[package]
name = "morph-primitives"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
# Reth
reth-ethereum-primitives.workspace = true

# Alloy
alloy-consensus.workspace = true

[dev-dependencies]

[features]
default = []
